@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}

main {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
}

/* Start of Header */
header {
  width: 100%;
  height: 400px;

  background-color: hsl(141, 78%, 33%);
}

header .container {
  position: relative !important;
  height: 100%;
}

header .heading {
  position: absolute;
  bottom: 50px;

  margin: 0;
  padding: 0;
}

header .heading .icons > i {
  padding: 0 2px;
  font-size: 30px;
  color: white;
}

header .heading .description {
  font-weight: normal;
  color: #e5e5e5;
}

header .author {
  position: absolute;
  bottom: 50px;
  right: 50px;

  text-align: right;
}

header .author .link {
  font-weight: bold;
  color: white;
}

header .author .social-links i {
  padding: 5px;
  font-size: 25px;
  color: white;
}

header .author .social-links i.fa-gitlab:hover {
  color: #eb7551;
}

header .author .social-links i.fa-facebook:hover {
  color: #007bff;
}

header .author .social-links i.fa-linkedin:hover {
  color: #174287 !important;
}
/* End of Header */

/** Start of Hero Section */
section.hero {
  display: flex;
  width: 100%;

  justify-content: space-between;
  align-items: center;
  flex: 1;
}

section.hero .hero-image {
  cursor: pointer;
}

section.hero .hero-features {
  min-width: 400px;
}

section.hero .hero-features > ul {
  padding: 0;
  list-style: none;
}

section.hero .hero-features li {
  line-height: 40px;
  color: #191919;
}

section.hero .hero-features li > i {
  padding: 0 20px;
  color: #7e7e7e;
}
/** Endo of Hero Section */

/** Start of Image View */
.image-view {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;

  display: none;
  justify-content: center;
  align-items: center;

  background-color: rgba(128, 125, 125, 0.7);
}

.image-view.active {
  display: flex;
}

.image-view .image {
  position: relative;
  z-index: 2;
}

.image-view .image > p {
  position: absolute;
  bottom: 0;
  left: 50%;

  transform: translate(-50%, 0);
  color: white;
}

.image-view .close {
  position: absolute;
  top: 15px;
  right: 15px;

  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
/* End of Image View */

/** Start of Globals */
.nav-link.active {
  font-weight: bold;
}
/** End of Globals */

@media (min-width: 1200px) {
  header {
    height: 250px;
  }

  section.hero {
    padding: 0 125px;
  }

  section.hero .hero-image > img {
    width: 600px;
    height: 300px;
  }
}

@media (min-width: 1600px) {
  header {
    height: 400px;
  }

  section.hero {
    padding: 0 400px;
  }

  section.hero .hero-image > img {
    width: 600px;
    height: 300px;
  }
}